[Unit]
Description=filtering-syscall-framework
After=network.target

[Service]
ExecStart=/root/filtering-syscall-framework/deployment/ecli run /root/filtering-syscall-framework/deployment/package.json
WorkingDirectory=/root/filtering-syscall-framework/deployment/
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
